@import url(./reset.css);
/* font family-roboto */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --tund-mavi: #2B1A66;
    --aciq-mavi: #2B98E6;

}

a {
    text-decoration: none !important;
}

body {
    overflow-x: hidden !important;
    font-family: 'Alkatra', cursive;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.engineers-side {
    height: 1018.76px;
    position: relative;
}


.engineers-side #video-link {
    display: none;
    position: absolute;
    top: 20%;
    left: 60%;
    z-index: 999;
}

.engineers-side i {
    position: absolute;
    top: 470px;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 100px;
    cursor: pointer;
}

.engineers-side>img {
    height: 100% ;
    max-width: 100% ;
    object-fit:cover;
}

.deserve-side {
    max-width: 100%;
    height: 918.76px;
    position: relative;
    margin-top: 100px !important;
    padding: 130px 120px 120px 80px !important;
    background-color: var(--tund-mavi)
}

.deserve-side>h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--aciq-mavi);
}

.deserve-side>h1 {
    color: #FFF;
    font-size: 42px;
    margin-bottom: 20px;
}

.deserve-side>p {
    color: #FFF;
    margin-bottom: 35px;
}

.see-more-section {
    display: flex;
    justify-content: space-between;
}

.see-more-left {
    align-items: center;
    width: 263px;
    height: 305px;
    padding: 40px 30px;
    margin-top: 10px;
    margin-right: 20px;
    color: #FFF;
    background-color: var(--aciq-mavi);
}

.see-more-left h3 {
    font-size: 25px;
    margin-bottom: 16px;
    margin-top: 29px;
}

.see-more-left p {
    margin-bottom: 10px;
    font-size: 15px;
}

.see-more-left>a {
    color: #FFF;
    display: block;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
}

.see-more-left #left {
    font-size: 50px;
}

.see-more-right {
    align-items: center;
    width: 263px;
    height: 305px;
    padding: 40px 30px;
    margin-top: 60px;
    margin-left: 20px;
    background-color: #FFF;
}

.see-more-right h3 {
    font-size: 24.8px;
    margin-top: 29px;
    margin-bottom: 16px;
}

.see-more-right p {
    margin-bottom: 10px;
    font-size: 15px;
}

.see-more-right a {
    color: black;
    font-weight: 700;
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

.see-more-right #right {
    font-size: 50px;
}
@media(max-width:991px){
    .deserve-side {
        margin-top: 100px !important;
        padding: 60px 25px 25px 15px !important;
    }
    .see-more-left{
        padding: 25px 15px ;
        
    }
    .see-more-right{
        margin-left: 0;
        padding: 25px 15px ;
    }
}

@media(max-width:768px){
    .deserve-side{
        margin-top: 0 !important;
        padding: 60px 25px 25px 25px !important;
    }
    .engineers-side>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .engineers-side{
        height: 517px;
    }
    .engineers-side i {
        top: 217px;
    }
    iframe{
        width: 330px;
        height: 200px;
    }
    .engineers-side #video-link {
        display: none;
        position: absolute;
        top: 55%;
        left: 15%;
        z-index: 999;
    }
}
@media(max-width:375px){
    .engineers-side #video-link{
        left: 2%;
    }
}

.display-on{
    display: block !important;
}
